body {
  background-image: url("bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: "courier new", "serif";
  font-size: 5mm;
}

h1 {
    text-align: center;
}

* {
  color: #eee;
  font-family: "courier new", "serif";
}

.chat, .settings, .readMe {
  font-size: 5mm;
  margin: 1cm 4cm;
}

.readMe {
    margin-top: 2cm;
    margin-bottom: 3cm;
}

.messageContainer {
  display: flex;
}

.messageContainer > *, form input, form button {
  margin: 0 5mm 5mm 0;
  padding: 2mm;
}

.message, button, input {
  background: hsla(0, 0%, 82.4%, 0.13);
  border: 1px solid hsla(0, 0%, 80%, 0.5);
}

.message:hover, button:hover, input:hover {
  background: hsla(0, 0%, 82.4%, 0.20);
  border: 1px solid hsla(0, 0%, 80%, 0.6);
}

.message, form input {
  width: 15cm;
}

.message {
    overflow: hidden;
}

.toxic .message, .toxic .more {
  border-color: #DBA105;
  background: hsla(46.6, 100%, 50%, 0.13);
}

.toxic .message:hover, .toxic .more:hover {
  background: hsla(46.6, 100%, 50%, 0.20);
}

.very.toxic .message, .very.toxic .more {
  border-color: hsl(2.8, 95.5%, 43.9%);
  background: hsla(11.3, 100%, 50%, 0.13);
}

.very.toxic .message:hover, .very.toxic .more:hover {
  background: hsla(11.3, 100%, 50%, 0.23);
}

.message.masked {
  border-color: hsla(0, 0%, 0%, 0);
  background: hsla(0, 0%, 0%, 0);
}

.masked {
  opacity: 0.5;
}

.hidden * {
  display: none;
}

.messageForm, .messageInput {
    display: flex;
}

.messageInput .user {
     display: block;
     width: 2cm;
     margin-left: 2em;
     text-align: right;
     margin-right: 1cm;
 }

li {
    list-style: "- ";
}

input[type="radio"] {
    margin-right: 5mm;
}

.chat {
    max-height: 50vh;
    overflow-y: scroll;
}

.warningMessage {
  width: 100%;
  margin: 1cm 4cm;
  color: #DBA105;
}

.messageForm {
  flex-wrap: wrap;
}

